body {
    background-image: url("img/fondo.jpg");
    background-repeat: repeat;
}
@media only screen and (min-width: 990px){
    #columna-1{
        background-color: red;
        height: 220px;
        text-align: center;
        align-self: start;
        font-size: 60px;
    }

    #columna-2{
        background-color: red;
        height: 220px;
        text-align: center;
        align-self: start;
        font-size: 60px;        
    }
    #columna-3{
        background: red;
        height: 220px;
        text-align: center;
        align-self: start;
        font-size: 60px;
    }
    #footer-1{
        background-color: yellow;
        text-align: right;
    }
    #footer-2{
        background-color: yellow;
        text-align: left;
    }
}

@media only screen and (max-width: 990px){
    #columna-1{
        background-color: red;
        height: 220px;
        text-align: left;
        align-self: start;
        font-size: 60px;
    }

    #columna-2{
        background-color: red;
        height: 220px;
        text-align: right;
        align-self: start;
        font-size: 60px;
    }
    #columna-3{
        background: greenyellow;
        height: 220px;
        text-align: center;
        align-self: start;
        font-size: 60px;
    }
    #footer-1{
        background-color: yellow;
        text-align: center;
    }
    #footer-2{
        background-color: yellow;
        text-align: center;
    }
}

@media only screen and (max-width: 576px){
    #columna-1{
        background-color: red;
        height: 220px;
        text-align: left;
        align-self: start;
        font-size: 60px;
    }

    #columna-2{
        background-color: lightblue;
        height: 220px;
        text-align: center;
        align-self: start;
        font-size: 60px;
    }
    #columna-3{
        background: red;
        height: 220px;
        text-align: right;
        align-self: start;
        font-size: 60px;
    }
    #footer-1{
        background-color: yellow;
        text-align: center;
    }
    #footer-2{
        background-color: yellow;
        text-align: center;
    }
}